body {
    background-color: #161414;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Clinton';
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #D69A27;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(24, 24, 28);
    /* color of the scroll thumb */
    border-radius: 5px;
    /* roundness of the scroll thumb */
}

header {
    position: relative;
    text-align: center;
    width: 100%;
    top: 60px;
}

#logo {
    font-family: 'FORMULA-A';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 14px;
    /* identical to box height, or 29% */
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #D69A27;
}

nav {
    position: relative;
    top: 110px;
    height: 96px;
    border-top: 1px solid #ddd4d478;
}

/* Left Options */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 500px;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    padding: 14px 16px;
    padding-left: 30px;
    text-decoration: none;
    color: #DAD5D5;
    font-size: 16px;
    font-weight: bold;
}

ul li a:hover {
    color: rgb(255, 230, 0);
    opacity: 0.6;
    transition: 0.2s;
}

.menu {
    position: relative;
    list-style: none;
    float: right;
    font-size: 12px;
    margin: 0;
    padding-right: 30px;
}

.menu li {
    position: relative;
    float: left;
}

.menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    color: #fff;
    transform: scale(1.05);
}

/* SUBMENU */
.menu li ul {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #2d2828;
    border-radius: 10px;
    display: none;
    margin: 0;
    padding-left: 15px;
    width: 360px;
    height: 420px;
    z-index: 10;
}

.menu li:hover ul,
.menu li.over ul {
    display: block;
}

.menu li ul li {
    display: block;
}

.container-not {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px 5px;
    gap: 8px;

    width: 290px;
    height: 75px;

    /* stoke */
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgba(197, 173, 173, 0.23);
}

#img {
    position: absolute;
    left: 0px;
    width: 70px;
    height: 70px;
    background: url(https://i.ytimg.com/vi/mnEOywN-xGU/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGGUgZShlMA8=&rs=AOn4CLCa5v68WmD8_VNxZ7X32Wes6Rw8mw);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#img2 {
    position: absolute;
    left: 0px;
    width: 70px;
    height: 70px;
    background: url(https://www.yamaha-racing.com.br/wp-content/uploads/2023/03/Eli-Tomac-7-Arlington-Align-Media.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#img3 {
    position: absolute;
    left: 0px;
    width: 70px;
    height: 70px;
    background: url(https://www.mx1.com.br/storage/blog/header/2LU6_mundial-de-hard-enduro-2021-wess-mx1@original.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#img4 {
    position: absolute;
    left: 0px;
    width: 70px;
    height: 70px;
    background: url(https://img.redbull.com/images/c_crop,x_679,y_0,h_1467,w_1100/c_fill,w_400,h_540/q_auto:low,f_auto/redbullcom/2022/3/27/in5n3h7gyweektxjnf5z/uci-mtb-dh-world-cup-lourdes-jackson-goldstone);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.container-not h2 {
    position: absolute;
    padding-left: 90px;
    width: 230px;
    height: 36px;
    color: white;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    letter-spacing: 1px;
}


/* MAIN */
main {
    position: relative;
    top: 200px;
    padding: 30px;
}

.container-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 1453px;
    height: 735px;
    left: 29px;
}

.container-1 h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 15px;
    letter-spacing: 0.24px;

    color: #FFFFFF;
}

.container-moto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    text-align: center;
    right: 9px;
}

.container-moto a {
    text-decoration: none;
    color: #ffffff;
}

.card-moto {
    width: 470px;
    height: 300px;
    border-radius: 15px;
    margin: 10px;
    background: #a5e90783;
    background-size: cover;
    background-position: center;
}

.card-moto:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.card-moto h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 15px;
    letter-spacing: 0.24px;
    padding-top: 140px;
    color: #FFFFFF;
}

.img-5 {
    background-image: url('https://images.unsplash.com/photo-1551239741-60537adebdb2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjJ8fG1vdG9jcm9zc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
}

.img-6 {
    background-image: url('https://cdn.motor1.com/images/mgl/QeWbv1/s3/stark-varg-moto-electrica-motocross.jpg');
}

.img-7 {
    background-image: url('https://motos.espirituracer.com/archivos/2017/11/ducati-multistrada-v4-s-ambience-59-uc207346-high.jpg');
}

.img-8 {
    background-image: url('https://enduro21.com/images/2021/march-2021/portuguese-hard-enduro/phes1-2021.jpeg');
}

.img-9 {
    background-image: url('https://dcadprod.azureedge.net/b2c-experience-production/attachments/cjgmd68jd2pmn0noi4rhpftje-moto-banner-bg-trial-why-michelin.full.jpg');
}

/* CARDS BIKE */
.container-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    
    position: absolute;
    width: 1453px;
    height: 392px;
    top: 850px;
}

.container-2 h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 15px;
    letter-spacing: 0.24px;

    color: #FFFFFF;
}

.container-bike {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    text-align: center;
    right: 9px;
}

.container-bike a {
    text-decoration: none;
    color: #ffffff;
}

.card-bike {
    width: 470px;
    height: 300px;
    border-radius: 15px;
    margin: 10px;
    background: #a5e90783;
    background-size: cover;
    background-position: center;
}

.card-bike:hover {
    transition: 0.2s;
    transform: scale(1.05);
}

.card-bike h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 15px;
    letter-spacing: 0.24px;
    padding-top: 140px;
    color: #FFFFFF;
}

.img-dh {
    background-image: url('https://images.unsplash.com/photo-1661892576825-2b1a77180461?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzJ8fGRvd25oaWxsJTIwbXRifGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
}

.img-end {
    background-image: url('https://images.unsplash.com/photo-1668936132135-f2844ef1735b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGVuZHVybyUyMG10YnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
}

.img-ebike {
    background-image: url('https://cdn1.yumping.com/emp/fotos/5/4/9/0/4/tm_p-54904-ascenso-con-btt-electrica_15150787106994.jpg');
}

/* FOOTER */
footer {
    /* FOOTER POSITION */
    display: flex;
    height: 280px;
    position: absolute;
    top: 1700px;
    background: #131618;
}

#container-footer {
    width: 100%;
    padding: 0px;
}

.part-1 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    margin-top: 20px;
    position: absolute;
    left: 51px;
}

.part-1 h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;

    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #F1F1F1;
}

.part-1 a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    width: auto;
    letter-spacing: 0.24px;

    color: #F1F1F1;

}

.part-1 a:hover {
    color: rgb(255, 230, 0);
    opacity: 0.6;
    transition: 0.2s;
}

#container-footer img {
    position: absolute;
    right: 70px;
    margin-top: 20px;
}

/* PARTE DE BAIXO DO FOOTER */
.part-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    top: 220px;

    width: 1512px;
    height: 60px;

    background: #000000;
}

.part-2 article {
    display: flex;
    flex-direction: row;
    gap: 39px;

    position: absolute;
    left: 470px;
    top: 20px;
}

.part-2 span {
    font-style: normal;
    font-weight: 100;
    font-size: 10px;
    line-height: 18px;

    color: #F1F1F1;
}